.main-area {
  text-align: center;
  margin-bottom: 45px;
}

#nav {
  margin-top: 100px;
  margin-left: 100px;
}

.image_block {
  margin-top: -15px;
}

#homebutton {
  float: left;
}

#sign_out {
  margin-left: 15px;
}

.signed-in-menu-right {
  float: right;
}

.top-bar .title-area{
  padding: 0 25px;
}

.top-bar .name {
    margin-top: 10px;
  height: initial;
}

.radio-btn{
  display: inline-block;
  margin: 25px;
  margin-bottom: 50px;
}

.player-choice-list img {
  margin-bottom: 22.5px;
}

.loged-in-greeting {
  margin-top: 80px;
}

#flash_notice {
  text-align: center;
  background-color: #FC8485;
  padding: 3px 0;
}

h2, h3, h4, h5, h6 {
  color: #39424E;
  font-size: 1.6em;
}

h1 {
  font-size: 2.4em;
  color: #39424E;
}


#sign_in {
  margin-top: 20px;
}


.images-in-index {
  width: 200px;
  height: 200px;
  margin: 0 37px;
  margin-top: 15px;
  margin-bottom: -35px;
}
.top-greeting-div {
  margin-top: 20px;
}
.top-greeting {
  display: inline-block;

}

.top-greeting-1 {
  margin-left: 20px;
  margin-right: 40px;
}
.top-greeting-2 {
  padding-left: 140px;
}
.top-greeting-3 {
  padding-left: 160px;
}

img {
  border-radius: 100%;
}
