<h1>Welcome to Mate Marry Murder</h1>
<br>
<h2>Play with your facebook friends</h2>
<br>
<div>
  <h2>"I love judging people... as long as they don't judge me"</h2>
  <h4>-- Random user testimonial</h4>
<div>

<br>
<br>

<%= link_to("Start the game", new_game_path) %>